.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 350px;
  left: 450px;
}

.open-modal-button {
  background: #3f37c9;
  height: 7%;
  width: 14%;
  color: white;
  font-size: 2em;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.modal {
  display: none;
}

.modal-opened {
  width: 40%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 7px;
}

.modal-opened > button {
  background-color: red;
  padding: 20px 20px;
  color: white;
}

.modal-opened > h1 {
  margin-bottom: 60px;
}

.container-opened {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 350px;
  left: 450px;
}

.body-modal-open {
  background: black;
  opacity: 0.33;
}
