/* .container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 350px;
  left: 450px; */

/* z-index: 1;
} */

/* .open-modal-button {
    background: #3f37c9;
    height: 7%;
    width: 14%;
    color: white;
    font-size: 2em;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .modal {
    display: none;
  }

  .modal > button {
    background-color: red;
    padding: 20px 20px;
    color: white;
  }

  .modal-opened {
    width: 40%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 7px;
    border: white;
  }

  .modal-opened > button {
    background-color: red;
    padding: 20px 20px;
    color: white;
  }

  .modal-opened > h1 {
    margin-bottom: 60px;
  }

  .container-opened {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 350px;
    left: 450px;
  }

  .page {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-page {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .open-modal-button-open {
    background: #3f37c9;
    height: 7%;
    width: 14%;
    color: white;
    font-size: 2em;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px; */

/* background-color: rgba(0, 0, 0, 0.40); */

/* }
} */
.page {
  height: 100vh;

  /* background-color: black;
    opacity: 30%; */
}

.page-open {
  height: 100vh;
  background-color: black;
  opacity: 30%;
}

.container {
  display: hide;
}

.container-open {
  width: 650px;
  height: 300px;
  position: fixed;
  text-align: center;
  top: 350px;
  left: 600px;
  background-color: white;
  padding-top: 30px;
  border-radius: 6px;
}

.container-open > button {
  background-color: red;
  padding: 15px 40px;
  color: white;
  font-size: 28px;
  border-radius: 6px;
  margin-top: 30px;
}

.container-open > h1 {
  margin-top: 50px;
}

.open-modal-button {
  background: #3f37c9;
  height: 7%;
  width: 14%;
  color: white;
  font-size: 2em;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
