.page {
  height: 100vh;
}

.page-open {
  height: 100vh;
  background-color: black;
  opacity: 70%;
}

.container {
  display: hide;
}

.container-open {
  width: 650px;
  height: 300px;
  position: fixed;
  text-align: center;
  top: 350px;
  left: 600px;
  background-color: white;
  padding-top: 30px;
  border-radius: 6px;
  font-family: sans-serif;
}

.container-open > button {
  background-color: #da5552;
  padding: 15px 40px;
  color: white;
  font-size: 28px;
  border-radius: 6px;
  margin-top: 30px;
  box-shadow: 1px 1px 0 #da5552;
  border-color: #da5552;
}

.container-open > h1 {
  margin-top: 50px;
}

.open-modal-button {
  background: #3f37c9;
  height: 7%;
  width: 16%;
  color: white;
  font-size: 2em;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
