body {
  margin: 0;
  background-image: url('images/thumb-1920-829963.jpg');
  background-repeat: no-repeat;
}

header {
  margin-top: 20px;
  text-align: center;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 50%;
  height: 60%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  flex-wrap: wrap;
}

img {
  max-width: 50%;
}

.carousel > img {
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  height: 80%;
}

.left,
.right {
  position: absolute;
  left: 500px;
}
