body {
  margin: 0;
  background-image: url('images/thumb-1920-829963.jpg');
}

header {
  text-align: center;
  background-color: ;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 50%;
  height: 60%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  flex-wrap: wrap;
}

img {
  max-width: 50%;
}

.carousel > img {
  padding-left: 20%;
  padding-right: 20%;
}
